out/**/*.map
# Only ignore dev stuff in node_modules
# vsce automatically includes only dependencies from package.json
node_modules/.bin/
node_modules/.cache/
node_modules/*/node_modules/
webview-src/**
!media/webview/**
.vscode/**
**/*.ts
**/*.tsx
.git
.gitignore
*.log
yarn.lock
pnpm-lock.yaml
